<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bite.system.mapper.exam.ExamMapper">

    <select id="selectQuestionList" resultType="com.bite.system.domain.exam.vo.ExamVO">
        SELECT
            te.exam_id,
            te.title,
            te.start_time,
            te.end_time,
            te.create_time,
            ts.nick_name as create_name,
            te.status
        FROM
            tb_exam te
        LEFT JOIN
            tb_sys_user ts
        ON
            te.create_by = ts.user_id
        <where>
            <if test="title !=null and title != '' ">
                AND te.title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="startTime != null and startTime != '' ">
                AND te.start_time >= CONCAT(#{startTime},' 00:00:00')
            </if>
            <if test="endTime != null and endTime != ''">
                AND te.end_time &lt;= CONCAT(#{endTime}, ' 23:59:59.999')
            </if>
        </where>
        ORDER BY
            te.create_time DESC
    </select>
</mapper>